body {
  background-color: hsl(0, 0%, 10%);
  color: #ece7e7;
  font-family: "Inter";
}

.width{
  width: 100%;
}

.img-like {
  width: 15px;
  height: 15px;
}

.uk-font {
  margin-left: -15px;
  font-size: small;
}

.ukuran {
  font-size: small;
}

.line-spacing {
  line-height: 1.6;
}

.text-justify {
  text-align: justify;
}

.margin-bottom-navbar {
  margin-top: 100px;
}

.text-color {
  color: #ece7e7 !important;
}

.opacity {
  opacity: 0.8;
}

.artikel-bg {
  width: 1300px;
  height: 192px;
  object-fit: fill contain;
}

.artikel-profil {
  width: 245px;
  height: 325px;
}

.descriptionArtikel {
  font-size: 16px;
}

.date-profil {
  font-size: 16px;
}

.avatar {
  width: 51px;
  height: 48px;
}

.position{
  margin-right: 100px;
}
.date-position{
  margin-left: 100px;
}
.date-position2{
  margin-left: 190px;
}

/* artikel( click) */
.profil {
  bottom: -150px;
  left: 50px;
}

.userProfil {
  width: 200px;
  height: 300px;
  display: flex;
  float: right;
  margin-top: 60px;
  padding: 10px;
  gap: 10px;
  border-left: 1px solid white;
}
.nameProfil {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
/* artikel(click) end */
.margin {
  margin-top: 300px;
}

.author-artikel {
  font-size: 16px;
}

.title-artikel {
  font-size: 26px;
}

.description-artikel {
  font-size: 16px;
}

.garis {
  font-size: 14px;
}

.avatar-artikel {
  width: 30px;
}

.konten-img{
  width: 528px;
  height: 267px;

}

.goyang{
  margin-left: -30px;
  margin-right: 30px;
}

.button-back{
  margin-left: 60px;
}

.text-size{
  font-size: 12px;
}

.filter{
  font-size: 16px;
}

.filter-image{
  width: 20px;
  height: 16px;
}
/* Footer */

.footer {
  background-color: #242424;
  height: 260px;
  position: relative;
}

.bg-footer img {
  margin-inline: 180px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.container_footer {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 20px;
}

.header_footer {
  text-align: center;
}

.body_footer {
  display: flex;
  justify-content: space-between;
  margin-inline: 100px;
}

.isi_footer_1 {
  display: flex;
  color: #ffff;
  height: 20px;
  align-items: center;
  padding: 10px;
}

.footer_footer {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.padding {
  padding: 0px;
}

.rengasdengklok{
  margin: 0px;
}
.bangsaEropa{
  margin: 0px;
}
.BandungLautanApi{
  margin: 0px;
}
.g30spki{
  margin: 0px;
}
.indonesiaDikuasaiJepang{
  margin: 0px;
}
.lahirnyaBoediOetomo{
  margin: 0px;
}

.Arengasdengklok{
  display: block;
}
.AbangsaEropa{
  display: block;
}
.ABandungLautanApi{
  display: block;
}
.Ag30spki{
  display: block;
}
.AindonesiaDikuasaiJepang{
  display: block;
}
.AlahirnyaBoediOetomo{
  display: block;
}

#article-container .container {
  padding: 20px;
}

.bg-peta{
  display: block;
}

/* modal */
.btnClose {
  width: 3rem !important;
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.labelUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border: 1px solid #272727;
  color: white;
  padding: 8px;
  width: 11rem;
  gap: 10px;
  cursor: pointer;
}

.form-control-artikel {
  background-color: transparent;
  border: 1px solid #272727;
  border-radius: 10px;
  color: white;
  width: 50rem;
}

.form_top_left {
  width: 25rem;
}
.form_top_right {
  width: 25rem;
}

.form_top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 8rem;
}

.form-control-input {
  display: block;
  width: 25rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid #272727;
  border-radius: 30px;
  color: white;
  padding-inline: 5px;
}

.Btn_Upload {
  width: 50rem;
  height: 3rem;
  background-color: #272727;
  border: 1px solid #272727;
  border-radius: 30px;
  color: white;
}

@media (max-width: 500px) {
  .form_top {
    display: flex;
    justify-content: space-between;
  }
  .form_top_left {
    width: 10rem;
  }
  .form_top_right {
    width: 10rem;
  }
  .form_top {
    display: block;
    justify-content: space-between;
    gap: 30px;
    margin-top: 3rem;
  }
  .Btn_Upload {
    width: 20rem;
    height: 3rem;
    background-color: #272727;
    border: 1px solid #272727;
    border-radius: 30px;
    color: white;
  }
  .form-control-input {
    display: block;
    width: 20rem;
    height: 3rem;
    background-color: transparent;
    border: 1px solid #272727;
    border-radius: 30px;
    color: white;
    padding-inline: 5px;
  }
  .form-control-artikel {
    background-color: transparent;
    border: 1px solid #272727;
    border-radius: 10px;
    color: white;
    width: 20rem;
  }
}   

/* end modal */

@media (max-width: 480px) {
  .userProfil{
    border: none;
  }
  div{
    max-width: 100%;
  }
  .margin-bottom-navbar {
    margin-top: 0px;
  }

  .container {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .artikel-bg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
  }

  .profil {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .artikel-profil {
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .namaTokoh {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .title-artikel2 {
    margin-top: 50px;
    font-size: 1.5rem; 
    text-align: center;
  }
  .descriptionArtikel {
    width: 100%;
    padding: 0px;
    margin-top: 90px;
    font-size: 1rem;
    text-align: justify;
  }

  .userProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .text-justify{
    width: 100% !important;
  }
  .userProfil{
    text-align: center;
    width: 100% !important;
    margin-top: 125px;
    float: inline-start;
  }
  .padding{
    padding-left: 1.3rem;
  }
  .button-back {
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
  }

  /* tampilan awal */
  #article-container .container {
    padding: 10px;
  }

  .d-flex {
    flex-direction: column;
  }

  .goyang {
    margin-bottom: 15px;
  }

  .avatar-artikel {
    width: 30px; /* Adjust as needed */
    height: auto;
  }

  .author-artikel,
  .ukuran {
    font-size: 12px;
  }

  .title-artikel {
    font-size: 16px;
  }

  .description-artikel {
    font-size: 14px;
  }

  .konten-img {
    width: 100%;
    height: auto;
  }

  .img-like {
    width: 20px;
    height: auto;
  }

  .uk-font {
    font-size: 12px;
  }

  .text-break {
    word-break: break-word;
  }

  .konten-img{
    max-width: 100%;
    object-fit: contain;
    
  }
  .Arengasdengklok{
    margin-left: 25%;
    width: 224px;
  }
  .rengasdengklok{
    margin-left: -20%;
  }
  .ABandungLautanApi{
    margin-left: 25%;
    width: 224px;
  }
  .BandungLautanApi{
    margin-left: -20%;
  }
  .AbangsaEropa{
    margin-left: 15%;
    width: 224px;
  }
  .bangsaEropa{
    margin-left: 10%;
  }
  .Ag30spki{
    margin-left: 15%;
    width: 224px;
  }
  .g30spki{
    margin-left: 10%;
  }
  .AindonesiaDikuasaiJepang{
    margin-left: 25%;
    width: 224px;
  }
  .indonesiaDikuasaiJepang{
    margin-left: -20%;
  }
  .AlahirnyaBoediOetomo{
    margin-left: 15%;
    width: 224px;
  }
  .lahirnyaBoediOetomo{
    margin-left: 10%;
  }
  .btn-see {
    padding: 10px 20px;
    font-size: 14px;
  }


  #filter{
    margin-top: 80px;
    margin-left: 10%;
    
  }

  #filter-populer{
    font-size: 10px;
  }
  #filter-terbaru{
    font-size: 10px;
  }


  
    /* Navbar */
    .navbar {
      padding: 10px;
    }
  
    .navbar-brand {
      font-size: 14px;
    }
  
    .navbar-toggler {
      border: none;
    }
  
    .navbar-nav {
      text-align: center;
    }
  
    .nav-link {
      font-size: 12px;
    }
  
    .navbar-text {
      font-size: 12px;
    }
  
    .write img {
      width: 15px;
    }
  
    .text-write {
      font-size: 12px;
    }
  
    .ButtonSign {
      font-size: 12px;
    }
  
    /* Modal */
    .modal-content {
      background-color: #0f0f0f;
    }
  
    .modal-body {
      padding: 20px;
    }
  
    .form_artikel h2 {
      font-size: 18px;
    }
  
    .form-label {
      font-size: 14px;
    }
  
    .form-control-input, .form-control-artikel {
      font-size: 14px;
    }
  
    .Btn_Upload {
      font-size: 14px;
    }
  
  
    /* Footer */
    #footer {
      padding: 10px;
      text-align: center;
      display: block;
    }
  
    .bg-footer img {
      width: 100%;
      height: auto;
    }

    .bg-peta{
      display: none;
    }
  
    .container_footer {
      padding: 10px;
    }
  
    .header_footer h2 {
      font-size: 18px;
    }
  
    .header_footer p {
      font-size: 10px;
    }
  
    .body_footer {
      display: flex;
      flex-direction: column;
      margin-left: -5%;
    }
  
    .isi_footer_1 {
      display: flex;;
      font-size: 8px;
      margin-bottom: 10px;
    }
  
    .isi_footer_1 img {
      width: 25px;
      height: 25px;
      font-size: 8px;
      margin-right: 10px;
    }
  
    .footer_footer p {
      font-size: 10px;
    }


 
  
}
@media (max-width: 820px) {
  .artikel-bg {
    width: 700px;
  }
  .artikel-profil {
    width: 125px;
    height: 175px;
  }
  .namaTokoh {
    font-size: 16px;
  }
  .title-artikel2 {
    font-size: 22px;
  }
  .descriptionArtikel {
    font-size: 14px;
  }
  .nameProfil {
    font-size: 10px;
  }
  .date-profil {
    font-size: 10px;
  }
  .userProfil {
    width: 150px;
  }
  .avatar {
    width: 45px;
    height: 40px;
  }
  .margin {
    margin-top: 420px;
  }
  .footer {
    height: 250px;
    background-color: #242424;
  }
  .bg-footer img {
    width: 600px;
    height: 250px;
    margin-inline: 100px;
    display: flex;
    justify-content: center;
  }
  .ukuran {
    margin-left: -20px;
    font-size: 8px;
  }
  .author-artikel {
    margin-left: -15px;
    font-size: 10px;
  }
  .garis {
    margin-left: -15px;
    font-size: 15px;
  }
  .title-artikel {
    font-size: 14px;
  }
  .description-artikel {
    font-size: 10px;
    width: 300px;
  }
  .date-position{
    margin-right: 0px;
  }
  .avatar-artikel{
    width: 15px;
    margin-top: -5px;
  }
  .img-like{
    margin-top: -7px;
    width: 7px;
    height: 7px;
  }
  .uk-font{
    font-size: 8px;
  }
  .konten-img{
    width: 350px;
    height: 200px;
    
  }
  .filter{
    font-size: 8px;
  }
  .filter-image{
    width: 18px;
    height: 14px;
  }

  
}

@media (max-width: 1024px) {

}
@media (max-width: 1152px) {
}
@media (min-width: 1440px) {
  .button-back{
    left: 0%;
    top: 100%;
    margin-top: 580px;
    margin-left: 150px;
  }
}

/* animasi */


.hidden{
  display: none;
}
.show {
  display: block;
}

/* konten artkel */

.asd {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.asd.show {
  opacity: 1;
}
.item-animate {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.item-animate.show {
  opacity: 1;
}

.increase {
  animation: increaseAnimation 0.3s ease-in-out;
}

.decrease {
  animation: decreaseAnimation 0.3s ease-in-out;
}

@keyframes increaseAnimation {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

@keyframes decreaseAnimation {
  from { transform: scale(1); }
  to { transform: scale(0.8); }
}

/* artikel(klik) */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




/* like */

.img-like {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.img-like.active {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.img-like:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.like-dislike-change {
  transition: transform 0.3s ease;
}

.like-dislike-change.increase {
  transform: scale(1.1);
}

.like-dislike-change.decrease {
  transform: scale(0.9);
}
