.opacity {
  opacity: 0.8;
}

.carousel-indicators button{
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}

.gallery-section {
  width: 100%;
  max-width: 1717px;
  height: 300px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #333; */
  position: relative;
}

.gallery-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.3);
}

.gallery-text {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.margin-bottom-navbar {
  margin-top: 100px;
}

.card-img {
  border: 1px solid white;
  border: transparent !important;
  margin: 5px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px !important;
  cursor: pointer !important;
}

.container-card {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-container {
  border: none !important;
  /* margin-left: 100px; */
}

.card-landscape {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-landscape-terbaru {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-img-top {
  height: 190px;
  object-fit: cover;
  cursor: pointer !important;
}

.img-landscape-populer {
  width: 490px;
  height: 230px;
  border-radius: 10px;
  cursor: pointer;
}
.card-video {
  width: 50px;
}
.nav-link.active {
  color: #af8f6f !important;
}

.card {
  animation: fadeInUp 0.5s ease-in-out;
}
/* pop-up */
.modal-header {
  border: none !important;
}
#modalImage {
  width: 600px;
  height: auto;
}

#modalImage_landscape {
  border-radius: 10px !important;
  width: 730px;
  height: 250px;
}

.modal_body_galery {
  background-color: #161616;
  position: relative;
}
#modalDescription {
  width: 35rem;
  color: #ffffff;
  font-size: 1rem;
  text-align: justify;
}

#modalDescriptionLandscape {
  width: 28rem;
  color: #ffffff;
  text-align: justify;
}
#modalDescriptionLandscape p {
  font-size: 1rem;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Gaya untuk kartu */
.card-img,
.card-landscape,
.video-card,
.card-landscape-terbaru {
  opacity: 0; /* Mulai dengan opacity 0 untuk animasi */
  transform: translateY(20%); /* Mulai dengan posisi di bawah */
}

/* Kelas yang diterapkan saat kartu masuk ke viewport */
.card-img.visible,
.card-landscape.visible,
.video-card.visible,
.card-landscape-terbaru.visible { /* Tambahkan koma di sini */
  animation: slide-up 0.5s ease-out forwards; /* Ubah durasi animasi */
}

.button-header {
  width: 100% !important;
}
.close-btn {
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
}
/* .uk-yt {
  width: 474px;
  height: 300px;
}
.margin-start {
  margin-left: 47px;
} */

@media only screen and (max-width: 430px) {
  #modalImage {
    border-radius: 10px !important;
    width: 260px;
  }

  #modalImage_landscape {
    border-radius: 10px !important;
    width: 350px;
    height: 250px;
  }
  #modalDescriptionLandscape {
    width: 28rem;
    color: #ffffff;
    text-align: justify;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  #modalImage {
    /* border-radius: 10px !important; */
    width: 300px;
    padding-top: 2rem;
  }
  #modalDescription {
    width: 29rem;
    color: #ffffff;
    font-size: 12px;
  }
  .uk-yt {
    width: 351px;
  }
  .margin-start {
    margin-left: 0px;
  }
  .modal-body {
    background-color: #161616;
    flex-wrap: wrap;
    position: relative;
  }
  .c-badges {
    font-size: 1rem;
    top: 5px;
    position: absolute;
    left: 100px;
  }

  /* .badge{
    position: absolute;
    top: 20px;
  } */

  #modalImage_landscape {
    border-radius: 10px !important;
    width: 350px;
    height: 250px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1300px) {
  #modalDescription {
    width: 32rem;
    color: #ffffff;
    font-size: 1rem;
  }
  #modalDescriptionLandscape {
    width: 30rem;
    color: #ffffff;
    text-align: justify;
  }
  #modalDescriptionLandscape p {
    font-size: 14px;
  }
  .c-badges{
    position: absolute;
  }
}
