body {
  background: transparent;
}

.content_map {
  width: 70vw;
}

.container_map {
  width: 100%;
  display: flex;
  justify-content: center;
}

#map {
  height: 400px !important;
  width: 99%;
  border-radius: 10px;
}

.popup {
  position: absolute;
  top: 249px;
  right: 200px;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  z-index: 1100;
  width: 943px;
  height: 30.6vw;
  background-color: #252424;
  display: none;
}

.popup_header {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_tahun {
  color: white;
  font-size: 20px;
  margin: 0;
}

.popup_close {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.popup_body {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.popup_text {
  width: 580px;
}

.popup_text h2 {
  font-size: 30px;
}

.popup_desc {
  color: white;
  text-align: justify;
  font-size: 0.9rem;
  padding-top: 20px;
  width: 32rem;
}

.popup_img img {
  width: 300px;
  height: 280px;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  body {
    background: transparent;
  }

  .content_map {
    width: 95vw;
    height: 400px;
  }

  .container_map {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  #map {
    height: 60vh !important;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .popup {
    position: absolute;
    top: 237px;
    right: 38px;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
    z-index: 1100;
    width: 724px;
    height: 59.9vw;
    background-color: #252424;
    display: none;
  }
  .popup_header {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text_tahun {
    color: white;
    font-size: 18px;
    margin: 0;
  }

  .popup_close {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }

  .popup_body {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }

  .popup_text {
    width: 440px;
  }
  .popup_desc {
    color: white;
    text-align: justify;
    font-size: 0.7rem;
    padding-top: 20px;
    width: 400px;
  }

  .popup_img img {
    width: 240px;
    height: 180px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background: transparent;
  }

  .content_map {
    width: 95vw;
    height: 400px;
  }

  .container_map {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  #map {
    height: 400px !important;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .popup {
    position: absolute;
    top: 244px;
    right: 12px;
    padding: 5px 10px 30px 15px;
    border-radius: 10px;
    z-index: 1100;
    width: 476px;
    height: 81vw;
    background-color: #252424;
    display: none;
  }
  .popup_header {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text_tahun {
    color: white;
    font-size: 14px;
    margin: 0;
  }

  .popup_close {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .popup_body {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
  }

  .popup_text {
    width: 440px;
  }
  .popup_text h2 {
    font-size: 18px;
  }

  .popup_desc {
    color: white;
    text-align: justify;
    font-size: 8px;
    padding-top: 10px;
    width: 16rem;
  }

  .popup_img img {
    width: 170px;
    height: 135px;
  }
}
@media only screen and (max-width: 430px) {
  body {
    background: transparent;
  }

  .content_map {
    width: 95vw;
    height: 400px;
  }

  .container_map {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  #map {
    height: 400px !important;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .popup {
    position: absolute;
    top: 262px;
    right: 10px;
    padding: 5px 10px 30px 15px;
    border-radius: 10px;
    z-index: 1100;
    width: 410px;
    height: 93vw;
    background-color: #252424;
    display: none;
  }
  .popup_header {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text_tahun {
    color: white;
    font-size: 14px;
    margin: 0;
  }

  .popup_close {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .popup_body {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
  }

  .popup_text {
    width: 440px;
  }
  .popup_text h2 {
    font-size: 18px;
  }

  .popup_desc {
    color: white;
    text-align: justify;
    font-size: 8px;
    padding-top: 10px;
    width: 12rem;
  }

  .popup_img img {
    width: 170px;
    height: 135px;
  }
}
