/* start-navbar */
.navbar-header {
  height: 60px;
}

.text-link {
  color: #ffff;
}
.write {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.text-write {
  color: #ffff;
  margin: 0;
}
.ButtonSign {
  background: transparent;
  border: none;
  color: #ffff;
}
.text-link {
  color: #ffff !important;
}
.navbar-blur {
  backdrop-filter: blur(10px);
}

.text-color {
  color: #ece7e7 !important;
}

.ButtonNavbar {
  outline: none;
}

/* Base styles for the navbar */
.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff; /* Base color for links */
  transition: color 0.3s ease;
}

/* Initial state of the underline */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start width of underline */
  height: 2px; /* Thickness of underline */
  background-color: #ffffff; /* Color of underline */
  transition: width 0.3s ease; /* Transition effect */
}

/* Hover state of the underline */
.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
  width: 100%; /* Full width on hover */
}

/* Active link style */
.navbar-nav .nav-link.activeNavbar {
  color: #ffffff; /* Active link color */
}

/* Underline for active link */
.navbar-nav .nav-link.activeNavbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* Full width underline for active state */
  height: 2px; /* Thickness of underline */
  background-color: #ffffff; /* Color of underline */
}

/* .background-color-toggle{
  background-color: #ece7e7;
}

.opacity-icon-write {
  opacity: .80;
} */
/* end-navbaar */

/* Test */
/* .navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
} */
