* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  background-color: #0f0f0f !important;
}

#header {
  background-image: url("../img/img-homePage.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#header .beranda {
  height: 100vh;
  align-items: center;
  text-align: center;
}
#header .beranda .button {
  background: transparent;
  border: none;
}

#header .beranda .title_judul .main {
  margin-top: 10rem;
  margin-bottom: 15rem;
  color: #ffff;
}

#header .beranda .button img {
  width: 2rem;
}

#highlight {
  background-image: url("../img/bg-aksara.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
